body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.hero {
    background-image: url('img/bg-home.jpg'); /* Add your hero image URL here */
    background-size: cover;
    background-position: center;
    color: White;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /* Choose your button color */
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333; /* Change the button color on hover */
}


/* product cards */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

p {
    margin: 10px 0;
}

.price {
    display: block;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4500; /* Choose your button color */
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333; /* Change the button color on hover */
}

